body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.tooble {
    width: 100%;
    height: 110px;
    border-bottom: solid 2px #bccae0;
    background-color: rgba(143, 186, 229, 0.226);
    display: flex;
    justify-content: center;
    align-items: center;
}

.block {
    height: 90px;
    border: solid 1px #bccae0;
    margin: 5px;
    display: flex;
    align-items: center;
}

.boxOne {
    width: 25%;
    display: block;
}

.caption {
    text-align: center;
    margin: -4px 0 -4px 0;
}

.buttonBox {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#buttonClear {
    width: 120px;
    height: 40px;
    border: #a3acbb 1px solid;
    border-radius: 5px;
    text-align: center;
    background-color: #fccece;
    user-select: none;
}

#buttonClear p {
    margin: 0;
    padding: 0;
}

#buttonClear:hover {
    background-color: #e97272;
    cursor: pointer;
}

#buttonClear:active {
    background: linear-gradient(#32686d60, #fccece) #fafafa;
    box-shadow: 0 0 1px rgba(0, 0, 0, .5) inset, 0 2px 3px rgba(0, 0, 0, .5) inset;
    margin-top: 2px;
    margin-left: 2px;
}

#buttonSave {
    width: 120px;
    height: 40px;
    border: #a3acbb 1px solid;
    border-radius: 5px;
    text-align: center;
    background-color: #abf3cc;
    user-select: none;
}

#buttonSave p {
    margin: 0;
    padding: 0;
}

#buttonSave:hover {
    background-color: #53c77a;
    cursor: pointer;
}

#buttonSave:active {
    background: linear-gradient(#32686d60, #5ac991) #fafafa;
    box-shadow: 0 0 1px rgba(0, 0, 0, .5) inset, 0 2px 3px rgba(0, 0, 0, .5) inset;
    margin-top: 2px;
    margin-left: 2px;
}

.boxTwo {
    display: flex;
    width: 400px;
}

#boxPoint {
    width: 40px;
    height: 17px;
    background-color: rgba(255, 255, 255, 0.486);
    text-align: center;
    margin: 0px 0 8px 72px;
    border: solid 1px #bccae0;
    border-radius: 3px;
}

.slider {
    margin-left: 15px;
    display: inline;
}

input[type=range] {
    width: 150px;
    height: 5px;
    -webkit-appearance: none;
    border-radius: 8px;
    background-color: #bccae0;
    outline: none;
    border-radius: 8px;
    border: solid 1px #adb0b4;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #ecf0f1;
    border: 1px solid #adb0b4;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.blockSlider p {
    margin: 7px 0 10px 40px;
}

.blockSlider {
    width: 100%;
    justify-content: center;
}

.blockEraser {
    width: 100%;
    display: block;
    margin-top: -16px;
}

.blockEraser p {
    text-align: center;
    padding-top: 5px;
}

.eraser {
    text-align: center;
    width: 50px;
    height: 36px;
    border: solid 1px #a3b2c9;
    margin: 0 auto;
}

.eraser img {
    width: 35px;
    height: 35px;
}

.eraser:hover {
    box-shadow: 0 0 0 60px #ccd8db inset;
}

.eraser:active {
    box-shadow: 0 0 0 60px #bbdee2 inset;
}

.line:hover {
    box-shadow: 0 0 0 60px #ccd8db inset;
}

.line:active {
    box-shadow: 0 0 0 60px #bbdee2 inset;
}

.line img {
    width: 35px;
    height: 35px;
}

.boxLine {
    width: 100%;
    display: block;
    margin-top: -16px;
}

.boxLine p {
    text-align: center;
    padding-top: 5px;
}

.line {
    text-align: center;
    width: 50px;
    height: 36px;
    border: solid 1px #a3b2c9;
    margin: 0 auto;
}

.boxTree {
    display: flex;
}

.paletteBox {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    display: inline-block;
    margin: 1px;
    cursor: pointer;
    border: solid 1px #c1c4c9;
}

.paletteBox:hover {
    border: solid 1px #000000;
}

.paletteBox:active {
    border: solid 1px #a50303;
}

#palette {
    width: 80%;
    margin: 0px 0 0 30px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 60px;
}

.paletteWrap p {
    text-align: center;
    margin: 0px 0 10px 0;
}

input[type="color"] {
    width: 50px;
    height: 50px;
    border: none;
    margin: 27px 0 0 27px;
    background-color: rgba(0, 0, 0, 0);
}

#coordinates {
    font-size: 14px;
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: #000;
}

.bottomField {
    width: 100%;
    height: 20px;
    background-color: rgb(215, 225, 235);
    border-top: #a3acbb 2px solid;
    bottom: 0;
    position: absolute;
}